<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zombie.Name %>
</p>

<p>
  <strong>Graveyard:</strong>
  <%= @zombie.Graveyard %>
</p>

<p>
  <strong>Day of death:</strong>
  <%= @zombie.Day_Of_Death %>
</p>

<p>
  <strong>No of arms:</strong>
  <%= @zombie.No_Of_Arms %>
</p>

<p>
  <strong>Description:</strong>
  <%= @zombie.Description %>
</p>

<%= link_to 'Edit', edit_zombie_path(@zombie) %> |
<%= link_to 'Back', zombies_path %>
