<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zombie.Name %>
</p>

<p>
  <strong>Graveyard:</strong>
  <%= @zombie.Graveyard %>
</p>

<p>
  <strong>Day of death:</strong>
  <%= @zombie.Day_of_death %>
</p>

<p>
  <strong>No of arms:</strong>
  <%= @zombie.No_of_arms %>
</p>

<p>
  <strong>Description:</strong>
  <%= @zombie.Description %>
</p>


<p>
  <strong>Last 5 Tweets:</strong>
  <ul>
  <% Tweet.all.where(Zombie_id: @zombie.id).limit(5).each do |tweet| %>
    <li>
      <%= tweet.status %>
      <%= link_to 'Jump', tweet %>
    </li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_zombie_path(@zombie) %> |
<%= link_to 'Back', :back %>
